*{
    margin:0;
    padding:0;
    font-size: 18px;
}
body{
    font-family: 'Libre Franklin', sans-serif;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.promo{
    min-height: 767px;
    background: center center  no-repeat url('../img/header_bg.png');
    color:#fff;
}
header {
    padding-top: 93px;
    display:flex;
    justify-content: space-between;
}
header .logo{
    font-size: 24px;
    font-weight: 700;
    /* margin-right: auto; */
}
header nav{
    display: flex;
}
header nav div{
    padding-left: 60px;
    font-weight: 400;
    font-size: 18px;
}
header nav div:first-child{
    padding-left: 0;
}
header nav div a{
    text-decoration: none;
    color: #fff;
}
h1{
    margin-top: 145px;
    font-weight: 400;
    font-size: 64px;
}
.promo h2{
    margin-top: 26px;
    font-weight: 400;
    font-size: 24px;
}
.about{
    background-color: #fff;
    padding: 90px 0 120px 0;
}
.title{
    font-weight: 700;
    font-size: 24px;
}
.about p{
    font-weight: 400;
    font-size: 18px;
}
.about .container p{
    margin-top: 50px;
}
.about .container p:nth-child(2){
    margin-top: 76px;
}

.skills{
    background-color: #FFFAF2;
    padding: 90px 0 145px 0;
}

/* я понимаю что применения grid здесь неэфективно, для тренировки)*/
.skills .grid-wrapper{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 30% 10% 17% auto;
    grid-template-rows: 2fr repeat(6, 1fr);
    align-items: center;
    grid-template-areas: 
    "photo . item01 item02"

    "photo . item11 item12"
    "photo . item21 item22"

    "photo . item31 item32"
    "photo . item41 item42"

    "photo . item51 item52"
    "photo . item61 item62";
}
.photo{
    grid-area: photo;
    object-fit: scale-down;
}
.photo img{
    width: 100%;
}
.bold{
    font-weight: 600;
}
.item01{
    grid-area: item01;
}
.item02{
    grid-area: item02;
}

.item11{
    grid-area: item11;
}
.item12{
    margin: 5px 0 5px 0;
    grid-area: item12;
    background-color: #F5D6AB;
    align-self: stretch;
}
.item12 div{
    height: 100%;
    width: 60%;
    background-color: #C66C49;
}
.item21{
    grid-area: item21;
}
.item22{
    grid-area: item22;
}

.item31{
    grid-area: item31;
}
.item32{
    margin: 5px 0 5px 0;
    grid-area: item32;
    background-color: #F5D6AB;
    align-self: stretch;
}
.item32 div{
    height: 100%;
    width: 80%;
    background-color: #C66C49;
}
.item41{
    grid-area: item41;
}
.item42{
    grid-area: item42;
}

.item51{
    grid-area: item51;
}
.item52{
    margin: 5px 0 5px 0;
    grid-area: item52;
    background-color: #F5D6AB;
    align-self: stretch;
}
.item52 div{
    height: 100%;
    width: 90%;
    background-color: #C66C49;
}
.item61{
    grid-area: item61;
}
.item62{
    grid-area: item62;
}

.portfolio{
    background-color: #fff;
    padding: 90px 0 145px 0;
}
.portfolio .subtitle{
    margin-top: 85px;
    font-weight: 600;
}
.portfolio .wrapper{
    margin-top: 50px;
    display:flex;
}
.portfolio .wrapper>div:first-child{
    width: 35%;
    margin-right: 10%;
}
.portfolio .gallery{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
    grid-auto-flow: dense;
}
.gallery .image{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.gallery .image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.gallery .image:hover{
    transform: scale(1.1);
    width: 120%;
    height: auto;
    object-fit: contain;
    z-index: 1;
    overflow: visible;
}
.contact{
    background-color: #FFFAF2;
    padding: 90px 180px 180px 0;
}
.contact .wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    line-height: 45px;
}
.contact a{
    text-decoration: none;
}
a:hover{
    color: red;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
@media screen and (max-width:768px){
    header {
        padding-top: 20px;
        justify-content: space-evenly;
    }    
    .logo{
        display: none;
    }
    header nav div{
        padding-left: 10px;
    }
    h1{
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }
    h2{
        text-align: center;
    }
    .promo{
        min-height: 500px;
    }
    .about{
        padding: 50px 0 50px 0;
    }
    .skills{
        padding: 50px 0 50px 0;
    }
    .skills .title{
        text-align: center;
    }
    
    .skills .grid-wrapper{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 15fr repeat(7, 1fr);
        grid-template-areas: 
        "photo photo"
        "item01 item02"

        "item11 item12"
        "item21 item22"

        "item31 item32"
        "item41 item42"

        "item51 item52"
        "item61 item62";
    }
    .photo{
        width: 70%;
        justify-self: center;
    }
    .portfolio{
        padding: 50px 0 50px 0;
    }
    .portfolio .title{
        text-align: center;
    }
    .portfolio .subtitle{
        margin-top: 40px;
        text-align: center;
    }
    .portfolio .wrapper{
        flex-direction: column;
    }
    .portfolio .wrapper>div:first-child{
        padding: 10px 20px;
        width: 80%;
        margin:0 auto;
    }
    .gallery .image:hover{
        width: 100%;
        height: auto;
        object-fit: contain;
        z-index: 1;
        overflow: hidden;
    }
    .contact{
        padding: 50px 10px 50px 10px;
    }
    .contact .title{
        text-align: center;
    }
    ul li a{
        font-size: 14px;
    }
}
